section( id='source' class='container content-section text-center' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2=t('section.code.h2')
      
      h3=t('section.code.h3')
      
      p=t('section.code.p1')
      
      pre.
        var array = [
          {
            firstname:'Galileo',
            lastname:'Galilei',
            born:1564,
            died:1642
          },
          {
            firstname:'Nikola',
            lastname:'Tesla',
            born:1856,
            died:1943
          },
          {
            firstname:'Albert',
            lastname:'Einstein',
            born:1879,
            died:1955
          }
        ];
        
        var exportButton = Wee.Dom.findById('csv');
        exportButton.addEventListener('click', function() {
          CSVx.Export.data('scientists',array);
        });
